{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<section class="row align-items-center about-content">
	<div class="offset-1 col-5 about d-flex">
		<form action="" method="post">
            
        </form>
	</div>
	<div class="offset-2 col-3 links-content">
		<a class="nav-link" href="{% url 'works' %}"><span class="icon-right-arrow"></span> Works</a>
		<a class="nav-link" href="{% url 'about' %}"><span class="icon-right-arrow"></span> About</a>
	</div>
</section>
{% endblock %} 