{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<section id='section-contact' class="row align-items-center about-content">
	<div class="offset-1 col-4 about d-flex">
		{% include 'form.html' with form=form %}
	</div>
	<div class="offset-2 col-3 links-content">
		<a class="nav-link" href="{% url 'works' %}"><span class="icon-right-arrow"></span> Works</a>
		<a class="nav-link" href="{% url 'about' %}"><span class="icon-right-arrow"></span> About</a>
	</div>
</section>
{% endblock %} 

