{% extends "layout.html" %} {% load static %} {% load i18n %} 

{% block content %}
<section class="top row d-flex">
	<header class='col-sm-12 offset-md-1 col-md-7'>
		<div class="col-sm-12 col-lg-11 text">
			<blockquote class="headline">{% trans 'The beauty is to create and develop what we were inspired of.' %}</blockquote>
			<ul class="style-link">	
				<li class="first">
					<a class="nav-link" href="{% url 'about' %}">About</a>
				</li>
				<li>
					<a class="nav-link disabled">Contact</a>
				</li>
			</ul>
		</div>
	</header>
	<div class="d-none d-sm-flex flex-column align-items-center col-md-4 col-lg-4 slider-project">
		<div class='mobile-block'>
			<div class='mobile-image'></div>
			<div class="glide index">
				<div data-glide-el="track" class="glide__track">
					<ul class="glide__slides">
						{% for p in projects|slice:"4" %}
							<li>
								<a class='item glide__slide' href="{% url 'works' p.slug %}" data-slug='{{p.slug}}'>
									<div class="block-img" style="background: url({{p.image.image.url}}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<!-- <div class="glide__bullets" data-glide-el="controls[nav]">
					{% for h in projects|slice:"4" %}
						<button class="glide__bullet" data-glide-dir="={{ forloop.counter0 }}"></button>
					{% endfor %}
				</div> -->
			</div>
		</div>
		<div class="all-works">
			<a class='nav-link' href="{% url 'works' %}">{% trans 'View all works' %}</a>
		</div>
	</div>
</section>
{% endblock %}

{% block others_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.2/vivus.min.js"></script>
<!-- <script>
	new Vivus('computer', {
		type: 'scenario',
		duration: 220,
		animTimingFunction: Vivus.EASE_IN,
		pathTimingFunction: Vivus.EASE_OUT_BOUNCE
	});
</script>  -->
{% endblock %}