{% load compress static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="sarah abderemane's portfolio">
		<meta name="author" content="sarah abderemane">
		<link rel="icon" href="../../favicon.ico">
		<title>sarah abderemane's portfolio</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		
		{% compress css %}
			<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/_variables.scss' %}" />
			<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/base.scss' %}" />
			<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/_homepage.scss' %}" />
		{% endcompress %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/menu_sideslide.css' %}"/>
		<!-- icones -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Hind|Philosopher|Rokkitt|Sanchez" rel="stylesheet">
		{% block styles %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="menu-wrap">
				<nav class="menu">
					<div class="icon-list">
						<a class="nav-link" href="/">Home</a>
						<a class="nav-link" href="{% url 'works' %}">Works</a>
						<a class="nav-link" href="#">About</a>
						<a class="nav-link" href="#">Contact</a>
					</div>
				</nav>
				<button class="close-button" id="close-button">Close Menu</button>
			</div>
			<button class="menu-button" id="open-button">
				<hr class="trait white first">
				<hr class="trait white second">
			</button>
			<div id="content-wrap" class="content-wrap">
				<div class="content">
					{% block content %}{% endblock %}
					
				</div>
			</div>
			<button onclick="topFunction()" id="btn-top" title="Go to top">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 349.629 349.629" xml:space="preserve">
				<g>
					<g>
						<polygon points="174.827,73.433 0,253.42 23.434,276.19 174.827,120.318 326.216,276.196 349.629,253.42   " fill="#FFFFFF"/>
					</g>
				</g>
			</button>
		</div>

		
		<script type="text/javascript">
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {scrollFunction()};

			function scrollFunction() {

			    if (document.getElementById("content-wrap").scrollTop > 20 || document.documentElement.scrollTop > 20) {
			        document.getElementById("btn-top").style.display = "block";
			    } else {
			        document.getElementById("btn-top").style.display = "none";
			    }
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
			    document.body.scrollTop = 0; // For Chrome, Safari and Opera 
			    document.documentElement.scrollTop = 0; // For IE and Firefox
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'js/vendor/slick/slick.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static 'js/vendor/classie.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/vendor/menu.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
		{% block others_scripts %}{% endblock %}
	</body>
</html>