{% extends "layout.html" %}
{% load i18n %}

{% block content %}
	
<div class='detail row'>
	<div class="text offset-1 col-5">
		<hr class='line'>
		<p class=''>{{project.subtitle}}</p>
		<p class=''>{{project.description}}</p>

		<div class="tags col-12">
		<h3>Tags</h3>
		{% for t in project.tags.all %}
			<span>#{{t.name}}</span>
		{% endfor %}
		</div>
		
		<a class="" href="{{project.link}}">{% trans 'view project' %}</a>
	</div>

	
	<div class="offset-1 col-4 mr-2 block-img">
		<div class="block-content">
			<h2 class='title purple'>{{project.title}}</h2>
			<span class="number">0{{project.pk}}</span>
			<img class="img-project first" src="{{project.img_header.image.url}}">
			{% for i in project.img_others.all %}
				<img class="img-project" src="{{i.image.url}}">
			{% endfor %}
		</div>	
	</div>
</div>

{% endblock %}