{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<div class='row'>
	<section id="all-projects" class="all-projects col-12">
			<div class="d-flex projects row">
			{% for p in projects %}
			<a class="transparent {% cycle 'col-5' 'offset-2 col-5' %}" href="project/{{p.pk}}">
				<div class="project {% cycle 'first' 'second' %}">
					<div class="text left">
						<h2 class='title'>{{p.title}}</h2>
						<p class=''>{{p.subtitle}}</p>
						<hr class="trait">
					</div>

					<img class="img-project" src="{{p.img_header.image.url}}">
					<div class="text right">
						<div class="tags col-12">
						{% for t in p.tags.all %}
							<span>#{{t.name}}</span>
						{% endfor %}
						</div>
						<p class="col-12 link" href="project/{{p.pk}}">{% trans 'view project' %}</p>
					</div>
				</div>
			</a>	
			{% endfor %}
			</div>
	</section>
</div>
{% endblock %}