{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block nav %}
<li class="nav-item works">
	<a class="nav-link active" href="{% url 'works' %}">Works</a>
</li>
{% endblock %}


{% block content %}
<div class="offset-2 col-10 projects">
	<div class="grid">
		{% for w in works %}
		<a class="item {% cycle '' '' 'large' 'small-push' '' %}" href="{% url 'works-detail' w.slug %}" data-slug='{{w.slug}}'>

			<div class="item-content">
				<div class="project"  style="background-image: url('{{w.img_header.image.url}}'); background-size: cover; background-repeat: no-repeat;">
					<div class="project-content">
						<h2>{{w.title}}</h2>
					</div>
					<div class="overlay all"></div>
				</div>
			</div>
		</a>   
		{% endfor %}
	</div>
</div>
<div class="modal-infos">
	{% include "works-detail.html" %}
</div>
<div class="title-block">
	<h2 class="title-page">Works</h2> 
</div>
{% endblock %} 

{% block others_scripts %}
	<script>
		$(document).ready(function(){
			var work_name = '{{work.title}}';
			var slug_name = $('.modal-title').attr('w-slug');
			if(work_name) {
				$('.modal.infos').modal('show');
				changeURL(slug_name);
			}

			$('.item').click(function(event) {
				event.preventDefault();
				$.ajax({
					url: $(this).attr('href'),
					type: 'POST',
					headers: {"X-CSRFToken": csrftoken},
					data: {'slug': $(this).attr('href')}
				}).done(function(response){
					$('.modal.infos').replaceWith(response);
					$('.modal.infos').modal('show');
					var slug = $('.modal-title').attr('w-slug');
					changeURL(slug);
				})
			})
		})

		function changeURL(slug) {
    		window.history.replaceState(null, null, 'http://'+window.location.host+'/projects/'+slug); 
		}
	</script>
{% endblock %}