.meter {
	height: 2px;
	background: white;
}

.skills {
	a {
		display: inline-block;
		color: $purple;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	.progress {
		width: 145px;
		margin-bottom: 1em;
		background-color: #1a1a1a;
		.progress-bar {
			background-color: #f7f7f9;
		}
	}
}