@import "_variables.scss";

 /*********************
  * general styles
 *********************/

h1 {
	color: $grey;
}

a {
	color: $purple;
	&:hover {
		color: $black;
		text-decoration: none;
	}
}

.transparent {
	color: inherit;
}

section {
	height: 70vh;
	&.top {
		padding-top: 60px;
		max-width: 1110px;
		margin: 0 auto;
		/*--------------------*
		 * header
		 *--------------------*/
		header {
			position: relative;
			.computer {
				position: absolute;
			    top: 1.8em;
			    right: 0;
			    max-height: 435px;
			    fill: transparent;
			    opacity: 0.25;
			    stroke-width: 3;
			}
			.text {
				position: absolute;
				z-index: 1;
				.subtitle {
					color: $gray-500;
				}
				.headline {
					font-size: 36px;
					color: $gray-500;
				}
				.line {
					width: 56px;
					border-top: 6px solid $purple;
			    	margin-left: 0;
				}
			}
		}

		/*--------------------*
		 * slider
		 *--------------------*/
		.slider {
			padding: 0;
			width: 250px;
			height: 250px;
			position: relative;
			top: 4em;
			.block-img {
				margin: 0 0 0 2.5em;
				.number {
					position: relative;
					top: 55px;
					left: 10px;
					color: white;
				}
				.img-project {
					height: 100%;
					min-width: 200px;
					max-width: 200px;
					max-height: 200px;
					opacity: 0.4;
					object-fit: cover;
				}
				.name-project {
					display: inline-block;
					transform: rotate(-90deg);
					position: relative;
					bottom: 40px;
					left: -35px;
					color: white;
					text-transform: uppercase;
					width: 60px;
				}
			}
		}

		.all-works {
		    position: absolute;
		    bottom: 0;
		    left: 50px;
		    a {
		    	color: white;
		    	text-transform: uppercase;
		    	letter-spacing: 5px;
			    &:hover{
			    	color: $purple;
			    	text-decoration: none;
			    }
		    }
		}
	}
}

