//Extra small devices
@media screen and (max-width: 544px) {
	.container-fluid {
		section {
			// responsive home
			&.top {
				header {
					svg {
						display: none;
					}
					.text {
						position: relative;
					}
				}
				.slider {
					top: -4em;
				}
				.all-works {
				    bottom: inherit;
				}
			}
		}
	}
}

// Small devices
@media screen and (min-width: 544px) and (max-width: 768px) {
	.container-fluid {
		section {
			// responsive home
			&.top {
				header {
					svg {
						display: none;
					}
					.text {
						position: relative;
					}
				}
				.slider {
					top: -4em;
				}
				.all-works {
				    bottom: inherit;
				}
			}
		}
	}
}

// Tablets
@media screen and (min-width: 768px) and (max-width: 992px) {
	
}

// Desktops
@media screen and (min-width: 992px) and (max-width: 1200px) {
	
}

// Large Desktops
@media screen and (min-width: 1200px) {
	
}