.projects {
	padding-top: 3em;
	.project {
		display: inline-block;
		margin: 0;
		width: 200px;
		border: 1px solid white;
		&.grid-item {
			height: 10em;
			display: flex;
		    justify-content: center;
		    align-items: center;
		    &:hover {
		    	h2 {
	    			color: black;
	    		}
	    	}
		    h2 {
		    	color: white;
		    	text-align: center;
		    }
			&:nth-child(1n) {
				background: $brown;
			}
			&:nth-child(2n) {
				background: $darkBrown;
			}
			&.large {
				height: 15em;
				background: $pink;
			}
		}
	}
}