.projects-content {
	overflow: auto;
	height: 100vh;
	//padding-top: 4rem;
    display: flex;
    align-items: flex-end;
	&::-webkit-scrollbar {
    	width: 1em;
    }
    &::-webkit-scrollbar-track {
    	background-color: $gray-900;
    }
    &::-webkit-scrollbar-thumb {
    	background-color: $grey;
    	//outline: 1px solid grey;
	}
	.glide__arrows {
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		transform: translateY(-5%);
		z-index: 3;
		.glide__arrow {
			position: relative;
			color: $darkGrey;
			top: initial;
			left: initial;
			right: initial;
			transform: none;
			border: none;
			box-shadow: none;
			padding: 2px 8px;
			&.glide__arrow--left {
				margin-right: 0.1em;
				&:hover {
					transform: translateX(-3px);
				}
			}
			&.glide__arrow--right {
				margin-left: 0.1em;
				&:hover {
					transform: translateX(3px);
				}
			}
		}
	}
	.numbers {
		font-family: 'Gigole', sans-serif;
		font-size: 1.5rem;
		font-weight: 400;
		display: flex;
		align-items: center;
		span {
			color: black;
		}
	}
	.project {
		.title {
			font-size: 1.5rem;
		}
		.img-project {
			width: 100%;
		}
		p {
			margin-top: 1rem;
		}

		.tag {
			font-size: 11px;
			text-align: center;
			text-transform: uppercase;
			color: $lightGrey;
			padding: 0.3em;
			border: 1px solid $lightGrey;
			border-radius: 5px;
		}
	}
}
