@import "_variables.scss";

body {
	font-family: 'Hind', 'Verdana', arial, sans-serif;
	background: black;
	color: white;
	padding-top: 60px;
}

nav {
	font-family: 'Rokkitt';
}

footer {

}

.pink {
	color: $pink;
}