@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import "_variables.scss";
@import "_works.scss";
@import "_responsive.scss";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Hind', 'Verdana', arial, sans-serif;
}


nav {
	//font-family: 'Rokkitt';
    &.nav-active {
        margin-top: 3em;
        padding: 0.8em 1em;
        justify-content: initial;
    }
}

#navbarToggle {
    background: white;
    position: absolute;
    width: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    &.show {
        display: flex;
        height: 100%;
        width: 280px;
        max-width: 280px;
    }
    &.collapsing {
        transition: all 0.3s;
    }
}

.style-link {

}

.pusher {
    position: relative;
    left: inherit;
    transition: all 1s;
    .btn-toggle {      
        background: transparent;
        border: none;
    }
    &.menu-show {
        left: 280px;
    }
}

.content, .projects {
    height: 100%;
}

.title-block {
    font-family: 'Archivo Black';
    position: absolute;
    left: 80px;
    top: 30px;
    padding-left: 1em;
    color: #808080;
    z-index: 1;
    h2 {
        text-transform: uppercase;
        font-size: 1.5vmax;
        display: grid;
        grid-template-columns: repeat(3, 3vmax);
        grid-auto-rows: 2vmax;
        align-items: end;
        justify-items: center;
    }
}

.menu-button {
    cursor: pointer;
    &:hover {
        .trait {
            width: 45px;
            transition: 0.5s linear;
            &.first {
                width: 25px;
            }
        }
    }
}

.trait {
    border-top: 2px solid $pink;
    width: 25px;
    text-align: left;
    margin-left: 0;
    &.white {
        border-top: 3px solid white;
        margin-bottom: 2px;
        margin-top: 3px;
        &.first {
            width: 45px;
        }
    }
}

.number {
    font-family: 'Playfair Display', serif;
    font-size: 68px;
    z-index: 2;
    color: $black;
}

.pink {
	color: $pink;
}

.purple {
    color: $purple;
}


.btn {
    &.view-project {
        border: 2px solid $darkBrown;
        color: $darkBrown;
        border-radius: 0px;
        outline: none;
        &:hover {
            border: 2px solid $black;
            color: $black;
        }
    }
}

#btn-top {
	display: none;
	position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 1010; 
    border: none; 
    outline: none;
	background: transparent;
    border: 1px solid $black;
    cursor: pointer;
    svg {
    	background: black;
    }
    &:hover {
    	border: 1px solid $pink;
    	polygon {
    		fill: $pink;
    	}
    }
}

.modal-body {
    .content {
    }
}
.overlay {
    background:-webkit-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background:-moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background:-o-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background:linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    &.all{
        background: rgba(0, 0, 0, 0.8);
    }
}